#boton{
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
}

#carta{
    color:black;
    align-items: center;
    transform: translate(-50%, -50%);
    position:relative;
    top: 100px;
    left: 50%;
    border: 8px solid black;

}